<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank Branches</title>
</head>
<body>
<h1>HSBC</h1>
 <table>
         <tr>
            <th>Bank Branches</th>
            <th>City</th>
         </tr>
         <tr>
            <td>Jayanagar Branch</td>
            <td>Bangalore</td>
         </tr>
         <tr>
            <td>Brookfield Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Hoddi Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Marathalli Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Whitefield Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Electronic City Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Sarjapur Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Bellandur Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Ecospace Branch</td>
            <td>Bangalore</td>
         </tr>
          <tr>
            <td>Brookfield Branch</td>
            <td>Bangalore</td>
         </tr>
      </table>
</body>
</html>