<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank Services</title>
</head>
<body>
<h1>HSBC</h1>
 <table>
         <tr>
            <th>Services Offered</th>
         </tr>
         <tr>
            <td>Credit Card</td>
         </tr>
         <tr>
            <td>Debit Card</td>
         </tr>
            <tr>
            <td>Personal Loans</td>
         </tr>
            <tr>
            <td>Fixed Deposits</td>
         </tr>
            <tr>
            <td>Rewards Schemes</td>
         </tr>
            <tr>
            <td>Personal and Phone Banking</td>
         </tr>
      </table>
</body>
</html>